@mixin left-sidebar {

    ul {
        list-style-type: none;
        padding-left: 0;
        li {
            a {
                text-decoration: none;
                display: block;
                color: white;
                padding: 3% 3%;

                &:hover {
                    color: aqua;
                    background-color: darkslateblue;
                }

                &.active {
                    color: springgreen;
                    background-color: lightslategray;
                }
            }
        }
    }
}