// * {
//     font-family: 'Times New Roman', Times, serif;
// }
@use './left-sidebar';
header {
    display: flex;
    h1 {
        width: 85%;
        display: flex;
        justify-content: center;
    }
    #btnLogout {
        width: 15%;
        font-size: x-large;
        border: none;
        &:hover {
            color: red;
        }
    }
}
main {
    display: flex;
    min-height: 400px;
    .left-sidebar {
        width: 30%;
        box-shadow: 2px 2px 2px gray;
        border: 1px solid gray;

        @include left-sidebar.left-sidebar;
    }

    #mainContent {
        width: 70%;
        margin-left: 0.3%;
        border: 1px solid gray;
        box-shadow: 2px 2px 2px gray;
    }

}

footer {
    display: flex;
    justify-content: center;
}

// body {
//     font-family: 'Times New Roman', Times, serif;
// }